<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="test.demo.shop.dao.IUserDao">

    <select id="findByUsername" resultMap="userMapper" >
        select * from user where 1 = 1
        <if test="username != null">
          and  username like #{username}
        </if>
    </select>

</mapper>